* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.first-line {
  display: inline;
}

.second-line {
  display: inline;
}

#app-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 53px 0px 0px 0px;
  color: hsl(183, 100%, 15%);
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 0.75rem;
}

#calculator {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 55vh;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  margin: 50px 0px 70px 380px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.error-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#error1 {
  color: hsl(10, 50%, 63.9%);
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0px;
  margin-top: 15px;
}

#error2 {
  color: hsl(10, 50%, 63.9%);
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0px;
  margin-top: 32px;
}

.input-wrapper {
  position: relative;
  margin: 8px 0px 0px 22px;
  height: 5.5vh;
  width: 19.6vw;
  border-radius: 3px;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: hsl(184, 14%, 56%);
  pointer-events: none;
}

.alert {
  border: 2px solid;
  border-color: hsl(10, 50%, 63.9%);
}

input[type=number] {
  border: 2px solid white;
  padding: 5px 5px 5px 25px;
  border-radius: 4px;
  font-size: 1.25rem;
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  outline: none;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  caret-color: hsl(173, 61.3%, 76.7%);
}

input[type=number]:focus {
  border: 2px solid hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#bill-amt {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0px;
  margin: 16px 0px 0px 22px;
}

#bill-amount1 {
  height: 5.042vh;
  width: 19.53125vw;
  text-align: right;
  cursor: pointer;
}

#bill-amount1::-moz-placeholder {
  color: hsl(184, 14%, 56%);
}

#bill-amount1::placeholder {
  color: hsl(184, 14%, 56%);
}

#tip-percnt {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0px;
  margin: 34px 0px 0px 22px;
}

#tip-percent-section {
  display: flex;
  flex-direction: column;
}

#tip-percent-1 {
  display: flex;
  flex-wrap: wrap;
}

.percent {
  width: 5.598vw;
  height: 5.042vh;
  background-color: hsl(183, 100%, 15%);
  margin: 13px 0px 0px 22px;
  border-radius: 4px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.percent:hover {
  color: hsl(183, 100%, 15%);
  background-color: hsl(173, 61.3%, 76.7%);
}

.selectedTipBtn {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

#customPercnt {
  width: 5.598vw;
  height: 5.042vh;
  margin: 13px 0px 0px 22px;
  border-radius: 4px;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

#customPercnt::-moz-placeholder {
  color: hsl(184, 14%, 56%);
  font-size: 1.2rem;
}

#customPercnt::placeholder {
  color: hsl(184, 14%, 56%);
  font-size: 1.2rem;
}

#numPeople {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0px;
  margin: 34px 0px 0px 22px;
}

#peopleNumber {
  height: 5.042vh;
  width: 19.53125vw;
  text-align: right;
  cursor: pointer;
}

#peopleNumber::-moz-placeholder {
  color: hsl(184, 14%, 56%);
}

#peopleNumber::placeholder {
  color: hsl(184, 14%, 56%);
}

#calculation {
  width: 350px;
  height: 340px;
  background-color: hsl(183, 100%, 15%);
  margin-left: 50px;
  margin-top: 5px;
  border-radius: 10px;
}

#tip-amt-perPerson {
  display: flex;
  flex-wrap: wrap;
}

#tip-amt-person {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-line1 {
  display: inline;
  color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
  margin: 47px 0px 0px 39px;
}

.second-line1 {
  display: inline;
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0px;
  margin: 0px 0px 0px 22px;
}

#amount {
  font-size: 2.5rem;
  margin: 34px 0px 0px 70px;
  color: hsl(172, 67%, 45%);
  font-weight: bold;
  justify-content: right;
}

#total-amt-perPerson {
  display: flex;
  flex-wrap: wrap;
}

#total-amt-person {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 17px;
  justify-content: right;
}

.first-line2 {
  display: inline;
  color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
  margin: 47px 0px 0px 24px;
}

.second-line2 {
  display: inline;
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0px;
  margin: 0px 0px 0px 8px;
}

#totalAmount {
  font-size: 2.5rem;
  margin: 34px 0px 0px 86px;
  color: hsl(172, 67%, 45%);
  font-weight: bold;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button {
  width: 276px;
  padding: 10px 20px;
  background-color: hsl(183, 79%, 24%);
  color: hsl(173, 61.3%, 76.7%);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 75px 0px 0px 4px;
  border-radius: 4px;
  cursor: pointer;
}

#button:hover {
  background-color: hsl(173, 61.3%, 76.7%);
  color: hsl(183, 100%, 15%);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #calculator {
    flex-direction: column;
    margin: 32px 0px 26px 0px;
    width: 100vw;
    height: 107vh;
  }
  #bill-amt {
    font-size: 0.8rem;
  }
  #bill-amount1 {
    height: 6vh;
    width: 77.53125vw;
    text-align: right;
    cursor: pointer;
  }
  .percent {
    width: 33.598vw;
    height: 5.8vh;
    padding: 7px 0px 0px 0px;
  }
  #customPercnt {
    width: 33.598vw;
    height: 5.8vh;
    margin: 13px 0px 0px 22px;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  #peopleNumber {
    height: 6vh;
    width: 77.53125vw;
  }
  #calculation {
    width: 90.11vw;
    height: 228px;
    margin-left: 0vw;
    margin-top: 32px;
    border-radius: 10px;
  }
  #tip-percent-1 {
    margin: 0vh 0vw 0vh 2vw;
  }
  .first-line1 {
    font-size: 0.77rem;
    margin: 33px 0px 0px 18px;
    width: 87px;
  }
  .second-line1 {
    margin: 0px 0px 0px -15px;
  }
  #amount {
    font-size: 1.9rem;
    margin: -7vh 0vw 0vh 57vw;
    padding-right: 11px;
  }
  #totalAmount {
    font-size: 1.9rem;
    margin: -6vh 0vw 0vh 57vw;
    padding-right: 11px;
  }
  #button {
    width: 60vw;
    margin: 23px 0px 0px 3px;
  }
  #tip-amt-person {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 582px) {
  #calculator {
    flex-direction: column;
    margin: 32px 0px 26px 0px;
    width: 100vw;
    height: 107vh;
  }
  #bill-amt {
    font-size: 0.8rem;
  }
  #bill-amount1 {
    height: 6vh;
    width: 80.53125vw;
    text-align: right;
    cursor: pointer;
  }
  #error1 {
    margin: 2vh 8vw 0vh 0vw;
  }
  #error2 {
    margin: 5vh 8vw 0vh 0vw;
  }
  .percent {
    width: 33.598vw;
    height: 5.8vh;
    padding: 7px 0px 0px 0px;
  }
  #customPercnt {
    width: 33.598vw;
    height: 5.8vh;
    margin: 13px 0px 0px 22px;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  #peopleNumber {
    height: 6vh;
    width: 80.53125vw;
  }
  #calculation {
    width: 90.11vw;
    height: 228px;
    margin-left: 1vw;
    margin-top: 32px;
    border-radius: 10px;
  }
  #tip-percent-1 {
    margin: 0vh 0vw 0vh 4vw;
  }
  .first-line1 {
    font-size: 0.77rem;
    margin: 33px 0px 0px 18px;
    width: 87px;
  }
  .second-line1 {
    margin: 0px 0px 0px -15px;
  }
  #amount {
    font-size: 2.1rem;
    margin: -7vh 0vw 0vh 61vw;
    padding-right: 11px;
  }
  #totalAmount {
    font-size: 2.1rem;
    margin: 4vh 0vw 0vh 39vw;
    padding-right: 11px;
  }
  #button {
    width: 60vw;
    margin: 23px 0px 0px 3px;
  }
  #tip-amt-person {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0vw;
  }
}
@media screen and (min-width: 582px) and (max-width: 769px) {
  #calculator {
    flex-direction: column;
    margin: 32px 0px 26px 0px;
    width: 100vw;
    height: 107vh;
  }
  #bill-amt {
    font-size: 0.8rem;
  }
  #bill-amount1 {
    height: 6vh;
    width: 82.53125vw;
    text-align: right;
    cursor: pointer;
  }
  #error1 {
    margin: 2vh 8vw 0vh 0vw;
  }
  #error2 {
    margin: 5vh 8vw 0vh 0vw;
  }
  .percent {
    width: 33.598vw;
    height: 5.8vh;
    padding: 7px 0px 0px 0px;
  }
  #customPercnt {
    width: 33.598vw;
    height: 5.8vh;
    margin: 13px 0px 0px 22px;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  #peopleNumber {
    height: 6vh;
    width: 82.53125vw;
  }
  #calculation {
    width: 90.11vw;
    height: 228px;
    margin-left: 2vw;
    margin-top: 32px;
    border-radius: 10px;
  }
  #tip-percent-1 {
    margin: 0vh 0vw 0vh 4vw;
  }
  .first-line1 {
    font-size: 0.77rem;
    margin: 33px 0px 0px 18px;
    width: 87px;
  }
  .second-line1 {
    margin: 0px 0px 0px -15px;
  }
  #amount {
    font-size: 2.1rem;
    margin: -7vh 0vw 0vh 65vw;
    padding-right: 11px;
  }
  #totalAmount {
    font-size: 2.1rem;
    margin: 4vh 0vw 0vh 46vw;
    padding-right: 11px;
  }
  #button {
    width: 60vw;
    margin: 23px 0px 0px 3px;
  }
  #tip-amt-person {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #calculator {
    flex-direction: row;
    margin: 6vh 20vw 8vh 15vh;
    width: 77vw;
    height: 60vh;
  }
  #bill-amt {
    font-size: 0.8rem;
  }
  #bill-amount1 {
    height: 6vh;
    width: 31.53125vw;
    text-align: right;
    cursor: pointer;
  }
  .percent {
    width: 8.3vw;
    height: 5.8vh;
    padding: 7px 0px 0px 0px;
  }
  #customPercnt {
    width: 8.3vw;
    height: 5.8vh;
    margin: 13px 0px 0px 22px;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  #peopleNumber {
    height: 6vh;
    width: 31.53125vw;
  }
  #calculation {
    width: 34.11vw;
    height: 52vh;
    margin-left: 4vw;
    margin-top: 1vh;
    border-radius: 10px;
  }
  #tip-percent-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0vh 0vw 0vh 0vw;
  }
  .first-line1 {
    font-size: 0.77rem;
    margin: 33px 0px 0px 18px;
    width: 87px;
  }
  .second-line1 {
    margin: 0px 0px 0px -15px;
  }
  #amount {
    font-size: 2.12rem;
    margin: -7vh 0vw 0vh 19.5vw;
    padding-right: 11px;
  }
  #totalAmount {
    font-size: 2.12rem;
    margin: -8vh 0vw 0vh 19.5vw;
    padding-right: 11px;
  }
  #button {
    width: 29vw;
    margin: 19vh 0vw 0vh 0vw;
  }
  #tip-amt-person {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1153px) {
  #calculator {
    flex-direction: row;
    margin: 6vh 20vw 8vh 20vh;
    width: 77vw;
    height: 60vh;
  }
  #bill-amt {
    font-size: 0.8rem;
  }
  #bill-amount1 {
    height: 6vh;
    width: 31.53125vw;
    text-align: right;
    cursor: pointer;
  }
  #error1 {
    margin: 2vh 1vw 0vh 0vw;
  }
  #error2 {
    margin: 5vh 1vw 0vh 0vw;
  }
  .percent {
    width: 8.514vw;
    height: 5.8vh;
    padding: 7px 0px 0px 0px;
  }
  #customPercnt {
    width: 8.514vw;
    height: 5.8vh;
    margin: 13px 0px 0px 22px;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  #peopleNumber {
    height: 6vh;
    width: 31.53125vw;
  }
  #calculation {
    width: 34.11vw;
    height: 52vh;
    margin-left: 4vw;
    margin-top: 1vh;
    border-radius: 10px;
  }
  #tip-percent-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0vh 0vw 0vh 0vw;
  }
  .first-line1 {
    font-size: 0.77rem;
    margin: 33px 0px 0px 18px;
    width: 87px;
  }
  .second-line1 {
    margin: 0px 0px 0px -15px;
  }
  #amount {
    font-size: 2.2rem;
    margin: -7vh 0vw 0vh 21vw;
    padding-right: 11px;
  }
  #totalAmount {
    font-size: 2.2rem;
    margin: -8vh 0vw 0vh 21vw;
    padding-right: 11px;
  }
  #button {
    width: 29vw;
    margin: 19vh 0vw 0vh 0vw;
  }
  #tip-amt-person {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
  }
}
@media screen and (min-width: 1153px) and (max-width: 1200px) {
  #calculator {
    flex-direction: row;
    margin: 6vh 20vw 8vh 20vh;
    width: 77vw;
    height: 60vh;
  }
  #bill-amt {
    font-size: 0.8rem;
  }
  #bill-amount1 {
    height: 6vh;
    width: 31.53125vw;
    text-align: right;
    cursor: pointer;
  }
  #error1 {
    margin: 2vh 2vw 0vh 0vw;
  }
  #error2 {
    margin: 5vh 2vw 0vh 0vw;
  }
  .percent {
    width: 8.514vw;
    height: 5.8vh;
    padding: 7px 0px 0px 0px;
  }
  #customPercnt {
    width: 8.514vw;
    height: 5.8vh;
    margin: 13px 0px 0px 22px;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  #peopleNumber {
    height: 6vh;
    width: 31.53125vw;
  }
  #calculation {
    width: 34.11vw;
    height: 52vh;
    margin-left: 4vw;
    margin-top: 1vh;
    border-radius: 10px;
  }
  #tip-percent-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0vh 0vw 0vh 0vw;
  }
  .first-line1 {
    font-size: 0.77rem;
    margin: 33px 0px 0px 18px;
    width: 87px;
  }
  .second-line1 {
    margin: 0px 0px 0px -15px;
  }
  #amount {
    font-size: 2.4rem;
    margin: -7vh 0vw 0vh 21vw;
    padding-right: 11px;
  }
  #totalAmount {
    font-size: 2.4rem;
    margin: -7vh 0vw 0vh 21vw;
    padding-right: 11px;
  }
  #button {
    width: 29vw;
    margin: 16vh 0vw 0vh 0vw;
  }
  #tip-amt-person {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1518px) {
  #calculator {
    flex-direction: row;
    margin: 6vh 20vw 8vh 33vh;
    width: 64vw;
    height: 60vh;
  }
  #bill-amt {
    font-size: 0.8rem;
  }
  #bill-amount1 {
    height: 6vh;
    width: 27.53125vw;
  }
  .percent {
    width: 7.68vw;
    height: 5.8vh;
    padding: 7px 0px 0px 0px;
  }
  #customPercnt {
    width: 7.693vw;
    height: 5.8vh;
    margin: 13px 0px 0px 22px;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  #peopleNumber {
    height: 6vh;
    width: 27.53125vw;
  }
  #calculation {
    width: 28.11vw;
    height: 52vh;
    margin-left: 4vw;
    margin-top: 1vh;
    border-radius: 10px;
  }
  #tip-percent-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0vh 0vw 0vh 0vw;
  }
  .first-line1 {
    font-size: 0.77rem;
    margin: 33px 0px 0px 18px;
    width: 87px;
  }
  .second-line1 {
    margin: 0px 0px 0px -15px;
  }
  #amount {
    font-size: 2.5rem;
    margin: -7vh 0vw 0vh 17vw;
    padding-right: 11px;
  }
  #totalAmount {
    font-size: 2.5rem;
    margin: -7vh -5vw 0vh 17vw;
    padding-right: 11px;
  }
  #button {
    width: 24vw;
    margin: 15vh 0vw 0vh 0vw;
  }
  #tip-amt-person {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
  }
}/*# sourceMappingURL=main.css.map */